body{
	background-color:rgb(240, 240, 240);
	color: #555;
	font-family: Arial,Hevetica,san-serif;
	font-size:16px;
	line-height: 1.6em;
	margin: 0;
}
a{
	text-decoration:none;
}



.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}
#main-header{
	background-color:rgb(165, 0, 32);
	color: #fff;
}
#main-header h1{
	font-size:12px;
}


#navbar{
	background-color: #333;
	color: #fff;
}

#navbar li{
	display: inline;
}

#navbar a{
	color: #fff;
	text-decoration:none;
	font-size: 18px;
	padding-right: 15px;
}

#navbar a:hover{
	color: red;
}
#showcase{
	background-image: url('../images/NEwstest.jpg');
	background-position: center right;
	min-height: 300px;
	margin-bottom: 30px;
	text-align: center;
}

#showcase h1{
	font-family: Arial,Hevetica,san-serif; 
	color: #fff;
	font-size: 50px;
	line-height: 1.6em;
	padding: 30px;
}
#main{
	float:left;
	width: 70%;
	padding: 0 30px;
	box-sizing: border-box; 
}

#sidebar{
	float: left;
	width: 70%;
	padding: 0.30px;
	box-sizing: border-box;

}
#main-footer{
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 15px;
	margin top: 40px;
}
.my-form{

	padding: 20px;
	margin: 3;
}
.from-group{
	padding-bottom: 15px;
}
.my-form label{
	display: block;
}
.container body{
	margin: 0;
	text-align: left;
}